<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Stafi - SHFMU "Gjon Serreqi"</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicon -->
    <link href="/css/public-img/logo-skolla.png" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link href="/css/public-lib/animate/animate.min.css" rel="stylesheet" />
    <link
      href="/css/public-lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/public-css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="/css/public-css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Spinner Start -->
    <div
      id="spinner"
      class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
    >
      <div
        class="spinner-border text-primary"
        style="width: 3rem; height: 3rem"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <!-- Spinner End -->

    <%- include('includes/_navbar') %>

    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
      <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-lg-10 text-center">
            <h1 class="display-3 text-white animated slideInDown">Stafi</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- Header End -->

    <!-- Team Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          <h6 class="section-title bg-white text-center text-primary px-3">
            Stafi
          </h6>
          <h1 class="mb-5">Bordi Shkollor</h1>
        </div>

        <div class="row g-4">
          <% for (let i = 0; i < staffBoard.length; i++) { %>
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="team-item bg-light">
              <div class="overflow-hidden">
                <img
                  class="img-fluid"
                  src="/uploads/<%= staffBoard[i].staffPhoto %>"
                  alt=""
                />
              </div>
              <div
                class="position-relative d-flex justify-content-center"
                style="margin-top: -23px"
              >
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                  <a
                    class="btn btn-sm-square btn-primary mx-1"
                    href="/uploads/<%= staffBoard[i].staffCV %>"
                    download="<%= staffBoard[i].staffCV %>"
                    ><i class="fa-solid fa-download"></i
                  ></a>
                </div>
              </div>
              <div class="text-center p-4">
                <h5 class="mb-0"><%= staffBoard[i].staffName %></h5>
                <small><%= staffBoard[i].staffRole %></small>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>

    <div class="container-xxl py-5">
      <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          <h1 class="mb-5">Arsimtarët</h1>
        </div>
        <div class="row g-4">
          <% for (let i = 0; i < staffTeacher.length; i++ ) { %>
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="team-item bg-light">
              <div class="overflow-hidden">
                <img
                  class="img-fluid"
                  src="/uploads/<%= staffTeacher[i].staffPhoto %>"
                  alt=""
                />
              </div>
              <div
                class="position-relative d-flex justify-content-center"
                style="margin-top: -23px"
              >
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                  <a
                    class="btn btn-sm-square btn-primary mx-1"
                    href="/uploads/<%= staffTeacher[i].staffCV %>"
                    download="<%= staffTeacher[i].staffCV %>"
                    ><i class="fa-solid fa-download"></i
                  ></a>
                </div>
              </div>
              <div class="text-center p-4">
                <h5 class="mb-0"><%= staffTeacher[i].staffName %></h5>
                <small><%= staffTeacher[i].staffRole %></small>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>

    <div class="container-xxl py-5">
      <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          <h1 class="mb-5">Mësuesit</h1>
        </div>
        <div class="row g-4">
          <% for (let i = 0; i < staffElemtaryTeacher.length; i++) { %>
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="team-item bg-light">
              <div class="overflow-hidden">
                <img
                  class="img-fluid"
                  src="/uploads/<%= staffElemtaryTeacher[i].staffPhoto %>"
                  alt=""
                />
              </div>
              <div
                class="position-relative d-flex justify-content-center"
                style="margin-top: -23px"
              >
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                  <a
                    class="btn btn-sm-square btn-primary mx-1"
                    href="/uploads/<%= staffElemtaryTeacher[i].staffCV %>"
                    download="<%= staffElemtaryTeacher[i].staffCV %>"
                    ><i class="fa-solid fa-download"></i
                  ></a>
                </div>
              </div>
              <div class="text-center p-4">
                <h5 class="mb-0"><%= staffElemtaryTeacher[i].staffName %></h5>
                <small><%= staffElemtaryTeacher[i].staffRole %></small>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>

    <div class="container-xxl py-5">
      <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          <h1 class="mb-5">Punëtorët teknik</h1>
        </div>
        <div class="row g-4">
          <% for (let i = 0; i < staffTechnicalWorker.length; i++) { %>
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="team-item bg-light">
              <div class="overflow-hidden">
                <img
                  class="img-fluid"
                  src="/uploads/<%= staffTechnicalWorker[i].staffPhoto %>"
                  alt=""
                />
              </div>
              <div
                class="position-relative d-flex justify-content-center"
                style="margin-top: -23px"
              >
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                  <a
                    class="btn btn-sm-square btn-primary mx-1"
                    href="/uploads/<%= staffTechnicalWorker[i].staffCV %>"
                    download="/uploads/<%= staffTechnicalWorker[i].staffCV %>"
                    ><i class="fa-solid fa-download"></i
                  ></a>
                </div>
              </div>
              <div class="text-center p-4">
                <h5 class="mb-0"><%= staffTechnicalWorker[i].staffName %></h5>
                <small><%= staffTechnicalWorker[i].staffRole %></small>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <!-- Team End -->

    <%- include('includes/_footer') %>

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
      ><i class="bi bi-arrow-up"></i
    ></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/css/public-lib/wow/wow.min.js"></script>
    <script src="/css/public-lib/easing/easing.min.js"></script>
    <script src="/css/public-lib/waypoints/waypoints.min.js"></script>
    <script src="/css/public-lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/css/public-js/main.js"></script>
  </body>
</html>
